<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>320991231855-7qjf21usclk52d8ntr61svrubngd7qne.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.320991231855-7qjf21usclk52d8ntr61svrubngd7qne</string>
	<key>API_KEY</key>
	<string>AIzaSyB38gVgt1HKQxU1uugOvnv7g-ai9vIbwcY</string>
	<key>GCM_SENDER_ID</key>
	<string>320991231855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MYC.Todo</string>
	<key>PROJECT_ID</key>
	<string>todo-list-c56b2</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-list-c56b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:320991231855:ios:aa7d99deeb0622d6</string>
	<key>DATABASE_URL</key>
	<string>https://todo-list-c56b2.firebaseio.com</string>
</dict>
</plist>